<?xml version="1.0" encoding="UTF-8"?>
<!--
    Deployment Framework for BizTalk
    Copyright (C) 2008-14 Thomas F. Abraham, 2004-08 Scott Colestock
    
    This source file is subject to the Microsoft Public License (Ms-PL).
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
  <?define ProductVersion="5.8" ?>

  <Product Id="$(var.ProductID)" Name="Deployment Framework for BizTalk $(var.ProductVersion) Beta 1"
           Language="1033" Version="$(var.ProductVersionFull)" Manufacturer="Thomas F Abraham" UpgradeCode="a0550f65-4338-4892-884e-594593e8b4f7">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <UIRef Id="WixUI_Mondo" />
    
    <WixVariable Id="WixUILicenseRtf" Value="..\..\License.rtf" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    
    <Property Id="ARPHELPLINK" Value="https://github.com/BTDF/DeploymentFramework" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/BTDF/DeploymentFramework" />

    <Property Id='ALLUSERS' Value='1' Secure="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Deployment Framework for BizTalk $(var.ProductVersion)" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Deployment Framework for BizTalk $(var.ProductVersion)"/>
      </Directory>
    </Directory>

    <FeatureRef Id="RuntimeFeature" />
    <FeatureRef Id="DevToolsFeature" />
    <FeatureRef Id="SamplesFeature" />
    <FeatureRef Id="VS2013IntegrationFeature" />
    <FeatureRef Id="VS2015IntegrationFeature" />
    <FeatureRef Id="VS2019IntegrationFeature" />

    <PropertyRef Id="BTS_PRODUCTNAME" />
    <PropertyRef Id="WIX_DIR_COMMON_DOCUMENTS"/>

    <UIRef Id="VS2013UI" />

    <Condition Message="Microsoft BizTalk Server 2013 R2, 2016 or 2020 is required to install this product.">
      Installed OR BTS_PRODUCTNAME
    </Condition>

    <InstallUISequence>
      <Custom Action="WixCloseApplications" Before="AppSearch"/>
    </InstallUISequence>
    
    <!-- Ensure that Visual Studio isn't running. -->
    <util:CloseApplication
      Id="CloseVSIDE" Description="Please close all running instances of Microsoft Visual Studio, then restart the installer."
      Property="VSRUNNING" Target="DEVENV.exe" CloseMessage="no" ElevatedCloseMessage="no" RebootPrompt="no" />

    <Condition Message="Please close all running instances of Microsoft Visual Studio, then restart the installer.">
      <![CDATA[NOT VSRUNNING]]>
    </Condition>

    <!-- Version Upgrade -->
    <!-- Leaving disabled because upgrading caused files to be missing from the GAC. Known MSI upgrade issue
         but don't have time to deal with it. -->
    <!--<MajorUpgrade
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." MigrateFeatures="no" />-->
  </Product>

  <Fragment>
    <UI>
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
    </UI>
  </Fragment>

  <Fragment>
    <Property Id="BTS_PRODUCTNAME" Secure="yes">
      <RegistrySearch Id="SearchForBT2010ProductName" Root="HKLM" Key="SOFTWARE\Microsoft\BizTalk Server\3.0" Name="ProductName" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="Framework" Name="Framework" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="Framework">
      <Directory Id="DeployTools" Name="DeployTools" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="DeployTools">
      <Directory Id="NUnitSubset" Name="NUnitSubset" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="MSBuild" Name="MSBuild" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="MSBuild">
      <Directory Id="MSBDeploymentFrameworkForBizTalk" Name="DeploymentFrameworkForBizTalk" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="MSBDeploymentFrameworkForBizTalk">
      <Directory Id="MSBDeploymentFrameworkForBizTalkProduct" Name="5.0" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="CommonAppDataFolder" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="CommonAppDataFolder">
      <Directory Id="Microsoft" Name="Microsoft" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="Microsoft">
      <Directory Id="VisualStudio" Name="VisualStudio" />
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="*">
        <RegistryKey Root="HKLM" Key="Software\DeploymentFrameworkForBizTalk">
          <RegistryValue Name="InstalledVersion" Type="string" Value="$(var.ProductVersion)"/>
          <RegistryValue Name="InstallPath" Type="string" Value="[INSTALLLOCATION]"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <?include RuntimeComponents.wxi ?>
  <?include DeveloperTools.wxi ?>
  <?include Samples.wxi ?>
  <?include VS2013Integration.wxi ?>
  <?include VS2015Integration.wxi ?>
  <?include VS2019Integration.wxi ?>

</Wix>
