<?xml version="1.0" encoding="utf-8"?>

<!--
Version: 4.0
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product UpgradeCode="$(var.ProductUpgradeCode)"
           Name="$(var.ProductName) $(var.ProjectVersion)"
           Id="$(var.ProductId)"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           Language="1033">

    <Package Id="*"
             Description="$(var.PackageDescription)"
             Comments="$(var.PackageComments)"
             Manufacturer="$(var.Manufacturer)"
             InstallerVersion="200"
             Languages="1033"
             Compressed="yes"/>

    <?include Contents.wxi ?>

    <SetProperty Id="TARGETDIR" Value="$(var.DefaultInstallDir)" After="CostInitialize"/>
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Property Id='ALLUSERS' Value='1' />

    <Upgrade Id="CBA3804A-F00A-4E5B-95AC-837196F8F0C6">
      <UpgradeVersion Minimum="1.0.0" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="yes" />
    </Upgrade>

    <Media Id="1" EmbedCab="yes" Cabinet="_6484D32EA0E240013ED6D7A9B6381829" />
  </Product>
</Wix>
